/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
:root {
  --hover-color: #7a808675;
}

a {
  text-decoration: none;
}
.header {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 999;
}

.product {
  transition: all 0.3s ease;
  overflow: hidden;
}
.product:hover {
  transform: translate(0, -15px);
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.8);
  padding: 0;
  border-radius: 10px;
}
.card-footer {
  display: flex;
  justify-content: space-evenly;
}
